.App {
  text-align: center;
  display: flex;
  justify-content: center;

}

ul{
  list-style: none;
  font-weight: bold;
  text-align: left;
  background-color: black;
  padding: 20px;
  border-radius: 50px;
}
.style{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: black;
}
a{
  justify-content: left;
  display: flex;
  align-items:center;
  flex-direction: column;
  
}